:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --active-color: violet;
    --background-color: #2f303a;
    --footer-color: #ffffff;
    --logo-color: #afb1b8;
  }