html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.a .linkcuurent {
  color: #2196f3;
}

.web {
  color: #2196f3;
  font-family: raleway, sans-serif;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --active-color: violet;
  --background-color: #2f303a;
  --footer-color: #ffffff;
  --logo-color: #afb1b8;
}

body {
  margin: 0;
  background-color: #fdfafa;
  font-family: Roboto, sans-serif;
  letter-spacing: -0.025em;
}

a {
  display: block;
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}
a:hover, a :focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
a:active {
  color: var(--active-color);
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
}

button {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.buttonprimary {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  color: #fdfafa;
  background-color: #2196f3;
}
.buttonprimary:hover, .buttonprimary :focus {
  color: #000;
}

.buttonmenu {
  height: 38px;
  color: var(--title-text-color);
  background-color: var(--footer-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.buttonmenu:hover, .buttonmenu :focus {
  color: var(--footer-color);
  background-color: var(--accent-color);
}

p {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.006;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

h4 {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.008;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 14px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 0;
  height: 80px;
}

/*site nav*/
.site-nav {
  display: flex;
  margin-left: 95px;
}

.site-navlink {
  margin-left: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.site-navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: transform 250ms;
}
.site-navlink:hover::after {
  transform: scaleX(1);
}

.adres {
  display: flex;
  margin-left: auto;
}

.header-adress-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-adress-link:hover, .header-adress-link :focus {
  fill: var(--accent-color);
}

.header-nav-icon {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
}
.header-nav-icon:hover, .header-nav-icon :focus {
  fill: var(--accent-color);
}

.adres li + li {
  padding-left: 50px;
}

.hero {
  background-color: var(--background-color);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: url(../images/background.png), linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.title {
  width: 696px;
  height: 120px;
  padding-top: 200px;
  padding-bottom: 280px;
}

.info {
  display: flex;
  height: 251px;
  text-align: center;
}

.infotex:not(:first-child) {
  margin-left: 30px;
}

.infotex::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.antena:before {
  background-image: url(../images/antenna\ 1.png);
}

.clock:before {
  background-image: url(../images/clock\ 1.png);
}

.diagram:before {
  background-image: url(../images/diagram1.png);
}

.astronaut:before {
  background-image: url(../images/astronaut.png);
}

.work {
  display: flex;
}

.work li + li {
  padding-left: 30px;
}

.team-list {
  display: flex;
  height: 428px;
}

.team-list-man {
  margin-left: 30px;
  text-align: center;
}

.team-list-man:nth-child(1) {
  margin: 0;
}

.team-wrap {
  padding: 30px 32px;
}

.client {
  display: flex;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.client-list:not(:first-child) {
  margin-left: 30px;
}

.client-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--logo-color);
  width: 170px;
  height: 92px;
}
.client-link:hover, .client-link :focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-list-icon {
  display: flex;
  justify-content: center;
  width: 106px;
  height: 60px;
  fill: var(--logo-color);
}
.client-list-icon:hover, .client-list-icon :focus {
  fill: var(--accent-color);
}

.social {
  display: flex;
  max-width: 206px;
  height: 44px;
  justify-content: center;
  margin: 0;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social :nth-child(4n) {
  padding-right: 0;
}

.social-nav-icon {
  width: 20px;
  height: 20px;
  fill: var(--logo-color);
}
.social-nav-icon:hover, .social-nav-icon :focus {
  fill: var(--footer-color);
}

.social-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-link:hover, .social-link :focus {
  background-color: #2196f3;
  fill: var(--footer-color);
}

.social-footer {
  padding-left: 516px;
  padding-bottom: 100px;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

.selectionpng {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}
.selectionpng:hover {
  opacity: 0.9;
}

.selectionpng-inner {
  position: relative;
}

.selectionpng-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  background-color: var(--accent-color);
  color: #f5f4fa;
  opacity: 0;
  font-size: 18px;
  text-align: left;
}
.selectionpng-over:hover {
  opacity: 0.9;
}

.selection :nth-child(3n) {
  margin: 0;
}

.selectionpng-wrap {
  margin: 0;
  padding: 20px 24px;
}

.selectionpng-wrap h3 {
  margin-bottom: 10px;
}

.sectionmenu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu {
  padding-bottom: 34px;
}

.menu-button {
  display: flex;
  margin: 0;
  justify-content: center;
}

.menu-button li + li {
  margin-left: 5px;
  height: 38px;
}

.footer {
  background-color: var(--background-color);
  padding: top 60px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.footer a {
  color: var(--footer-color);
}

.footer p {
  color: var(--footer-color);
}

.joinus {
  display: flex;
  max-width: 206px;
  height: 44px;
  justify-content: center;
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(75, 75, 75, 0.5);
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--footer-color);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

input {
  height: 40px;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

.submit {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  color: #fdfafa;
  background-color: #2196f3;
}

.name-label {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.checkbox {
  display: flex;
  height: 15px;
}/*# sourceMappingURL=main.css.map */