html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .a .linkcuurent {
      color: #2196f3;
   }

   .web {
     color: #2196f3;
     font-family: raleway, sans-serif;
   }

@import './colors';
  
@import './body';

@import './button';

@import './text';

@import './header';
  
@import './hero';

@import './infosection';

@import './worksection';
  
@import './teamsection';

@import './client';

@import './social';
  
@import './selection';

@import './menu';

@import './footer';

@import './backdrop';
  
  
